p {
	font-size: 0.8rem;
	margin-bottom: 0.2rem;
	line-height: initial;
}

li {
	font-size: 0.8rem;
	background-color: #00ffff00 !important;
	line-height: initial;
	padding-top: 0.1rem !important;
	padding-bottom: 0.1rem !important;
}

ul {
	margin-bottom: 0.2rem;
}

.card {
	padding: 0.4rem !important;
	margin-bottom: 0.2rem;
}

h5.card-title {
	font-size: 0.9rem;
	margin-bottom: 0px;
}

h6.card-subtitle {
	font-size: 0.8rem;
	margin-bottom: 0px;
}

.card-head {
	display: flex;
	flex-direction: row;
	align-items: center;
	border-bottom: whitesmoke solid 2px;

	.row {
		align-items: center;
	}
}

.card-body {
	padding: 0px;
	text-align: justify;
}

.card-icon {
	font-size: 1.5rem;
	padding: 0px;
	padding-right: 0.4rem;
	text-align: right;
	width: 2rem !important;
	float: left;
}

.card-herders-text {
	width: 100%;
	height: 100%;
	align-items: center;
}

.azul {
	background-color: #BFF5F4;

	.card-head {
		color: #31b7b7 !important;
	}
}

.roxo {
	background-color: #DCDCFD;

	.card-head {
		color: #5653b0 !important;
	}
}

.vermelho {
	background-color: #FFD8D6;

	.card-head {
		color: #b8382c !important;
	}
}

.amarelo {
	background-color: #FFECD1;

	.card-head {
		color: #c18a31 !important;
	}
}

.verde {
	background-color: #D4EBD5;

	.card-head {
		color: #358839 !important;
	}
}

.column-header {
	color: white;
	font-size: large;
	font-weight: bold;
	margin-bottom: 0.2rem;
	border: 1px;
	border-radius: 0.4rem;
	text-align: center;
	border: rgb(173, 173, 173) solid 1px;
}

.column-header.azul {		
	background-color: #31b7b7;
}

.column-header.roxo {		
	background-color: #5653b0;
}

.column-header.vermelho {		
	background-color: #b8382c;
}

.column-header.amarelo {		
	background-color: #c18a31;
}

.column-header.verde {		
	background-color: #358839;
}

.v-auto {
	flex: 0 1 auto;
}

.v-remaining {
	flex: 1 1 auto;
}

.w-40 {
	width: 40%;
}

.w-20 {
	width: 20% !important;
}

.last-child {
	flex: 1 1 100%;
}

.card-herders-text {
	display: flex;
	align-items: flex-start;
	flex-direction: column;
	justify-content: center;
}